body
{
  background-color: #ececf8;
  font-family: serif;
}
/*--------------------LFI Entry---------------------------*/
.entry_body
{
  margin: 10px;
  margin-bottom: 0px;
 
}
.entry_text{
  text-transform:uppercase;
  font-size: 13px;
 display: inline;
 margin: 0px;
 color: #5c585c;
 
}
.entry_select
{
  height: 30px;
  padding: 0px 10px;
  font-size: 12pt;
  width: 100%;
  border: none;
  border-radius: 10px;
}
/*--------------------Impact---------------------------*/
.impact_heading
{
  color: red;
  font-size: 15px;
  text-transform: uppercase;
  height: 20px;
}
.impact_text
{
  text-transform:uppercase;
  font-size: 13px;
 margin-bottom: 10px;
 color: #5c585c;
 padding: 5px;
}
.entry_impact{
  height: 30px;
  padding: 0px 10px;
  font-size: 12pt;
  border: none;
  margin-bottom: 10px;
  border-radius: 10px;
  outline: none;
}
.impact_checkbox
{
  transform: scale(2);
}
.impact_checkbox_two
{
  margin-top: 20px;
  transform: scale(2);
}

/*--------------------Incident Overview---------------------------*/
.overview_heading
{
  color: red;
  font-size: 12px;
  text-transform: uppercase;
  height: 20px;
}
textarea{
  min-height: 100px;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #5c585c;
  box-shadow: 1px 1px 5px #5c585c;
  outline: none;
  font-size: 13px;
  text-transform: capitalize;
}
.overview_char_ramaining
{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.reached_limit
{
  color: red;
  font-size: 12px;  
  display: none;
}

/*----------------------Exit and Save------------------*/
.denote_mandatory
{
  color:red;
  text-transform: uppercase;
  font-size: 12px;
 
}

/*--------------------------mobile view------------------*/
@media (max-width:991px) {
  /*--------------------LFI Entry---------------------------*/
  .entry_body
  {
    margin: 0px;
    margin-bottom: 0px;
   
  }
/*--------------------Impact---------------------------*/
.impact_heading
{
  color: red;
  font-size: 12px;
  text-transform: uppercase;
  height: 20px;
}
.impact_text
{
  text-transform:uppercase;
  font-size: 13px;
 margin-bottom: 10px;
 color: #5c585c;
 padding: 5px;
}
  .entry_impact{
    height: 30px;
    padding: 0px 0px;
    font-size: 12pt;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}