body
{
  background-color: #ececf8;
  font-family: serif;
}

/*--------------heading-----------------*/
.heading
{
  height: 100px;

  background-color: #fff;
}
.heading img{
  margin-top: 5px;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.heading h3{

  text-align: center;
  color: red;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  margin-top: 17px;
}
.heading p{
  text-align: center;
  margin: 0px;
  color: #807e7e;
  padding: 0px;
  font-size: 15px;
  letter-spacing: 2px;
}
/*--------------Edit and ADD LFI-----------------*/
.edit_add_lfi{
  margin-top: 20px;
}
.username h2{
  font-size: 40px;
  font-weight: 700;
}
.edit_lfi
{

  padding-top: 30px;
}
.edit_lfi button
{
  background-color: #db2b25;
  border: none;

}
.edit_lfi button:hover
{
  background-color: #f0544f;
  transition: .3s;
}
.add_lfi{
  text-align: right;
  padding-top: 30px;
}
.add_lfi a
{
  background-color: #555692;
  color: #fff;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 12pt;
  text-decoration: none;
}
.add_lfi a:hover{
  background-color: #5356b3;
  transition: .3s;
}
.fa-plus
{
  margin-right: 10px;
}
/*--------------Content----------------*/
.content
{
 text-align: center;
  margin-top: 50px;
}
.content_box
{
  margin-left: 5%;
  height: 100px;
  width: 90%;
  padding-top: 20px;
  background-image: linear-gradient(0deg, #c4c4e7,  #f0f0f7);
  border-radius: 10px;
  border: 1px solid #dbd8d8;

}
.content_box:hover{
  box-shadow: 1px 1px 5px #a6a6da;
  transition: .3s;
}
.content a
{
  text-decoration: none;
  background-color: #fff;
  color: #313031;
  font-size: 20px;
 

}
.fa-copy,.fa-magnifying-glass,.fa-circle-info,.fa-pen-to-square
{
 
  font-size: 25px;
 
}

/*--------------chart-------------*/
.chart
{
  margin-top: 50px;
  padding: 0;

 
}
.chart_table
{
  background-color: #fff;
  margin:10px;
  padding: 5px;
  height: 300px;
  border-radius: 10px;
}
.chart_table p{
 
  padding: 0px 10px;
  font-size: 12pt;
}
canvas
{
  padding: 0;
  margin: 0;
}

/*-------------------Help and FAQ-----------------------*/
.help_and_faq a{
  text-decoration: none;
}
.faq_help{
  text-align: center;
  background-color: #db2b25;
  margin: 10px 80px;
  border-radius: 20px;
  padding: 15px;
  color: #fff;
  font-size: 18px;
}
.faq_help:hover{
  box-shadow: 1px 1px 5px #f0544f;
  transition: .3s;
}


/*--------------------------mobile view------------------*/
@media (max-width:991px) {
/*--------------heading-----------------*/
.heading
{
  height: auto;
  background-color: #fff;
}
.heading img{
  margin-top: 5px;
  height: 55px;
  margin: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.heading h3{

  text-align: center;
  color: red;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  margin-top: 10px;
}
.heading p{
  text-align: center;
  margin: 0px;
  color: #807e7e;
  padding: 0px;
  font-size: 8px;
  letter-spacing: 2px;
}
/*--------------Edit and ADD LFI-----------------*/
.edit_add_lfi{
  margin-top: 15px;
}
.username h2{
  font-size: 30px;
  font-weight: 700;
}
.edit_lfi
{
  padding-top: 0px;
}
.edit_lfi button
{
  background-color: #db2b25;
  border: none;
}

.add_lfi{
  text-align: right;
  padding-top: 10px;
}
.add_lfi button
{
  
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 10pt;
}
.add_lfi button:hover{
  background-color: #3f42eb;
  transition: .3s;
}
.fa-plus
{
  margin-right: 10px;
}
/*--------------Content----------------*/
.content
{
 text-align: center;
  margin-top: 20px;
}
.content_box
{
  margin-left: 5%;
  height: 100px;
  width: 90%;
  margin-top: 10px;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #c9c7c7;
}
/*--------------chart-------------*/
.chart_table
{
  background-color: #fff;
  margin:0px;
  margin-bottom: 10px;
  padding: 5px;
  min-height: 300px;
  border-radius: 10px;
}
/*-------------------Help and FAQ-----------------------*/
.help_and_faq a{
  text-decoration: none;
}
.faq_help{
  text-align: center;
  background-color: #db2b25;
  margin: 10px 0px;
  border-radius: 20px;
  padding: 15px;
  color: #fff;
  font-size: 18px;
}
}